In [10]:
import pandas as pd
import numpy as np

In [11]:
from sqlalchemy import create_engine

In [12]:
temp_db = create_engine('sqlite:///:memory:')

In [13]:
#sqlalchemy dialects

In [14]:
df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns=['a', 'b', 'c', 'd'])

In [15]:
df

    a   b   c   d
0  31  68  37  35
1  69  12  95  11
2  35  56  43  40
3  78  36  88   9

In [20]:
df.to_sql(name='new_table_one', con=temp_db)

4

In [21]:
result = pd.read_sql_query(sql='SELECT a,c FROM new_table', con=temp_db)

In [22]:
result

    a   c
0  31  37
1  69  95
2  35  43
3  78  88