In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/World_population'

In [3]:
tables = pd.read_html(url)

In [4]:
len(tables)

29

In [5]:
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1930,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",126,30,14,13,12,12,11,15,20

In [6]:
tables[1]

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia/New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Other Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

In [26]:
tables[3]

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,418,459,382 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[89],N/A[note 2],"00,001,258 – McMurdo Station"

In [27]:
world_topten = tables[3]

In [29]:
world_topten = world_topten['Population (millions)']

In [30]:
world_topten

0         4641
1         1340
2          747
3          653
4          368
5           42
6    0.004[89]
Name: Population (millions), dtype: object

In [33]:
tables[4]

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
0,1,India,1425775850,NaN,14 Apr 2023,UN projection[92]
1,2,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
2,3,United States,335080925,NaN,17 Jul 2023,National population clock[94]
3,4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[95]
4,5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[96]
5,6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[96]
6,7,Brazil,216405333,NaN,17 Jul 2023,National population clock[97]
7,8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[98]
8,9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[99]
9,10,Mexico,128271248,NaN,31 Mar 2022,NaN

In [54]:
topten = tables[4]

In [55]:
topten = topten.drop('Source (official or from the United Nations)', axis=1)
topten = topten.drop('Percentage of the world', axis=1)
topten.columns = ['Rank', 'Country / Dependency', 'Population', 'Date']

In [56]:
topten

   Rank Country / Dependency  Population         Date
0     1                India  1425775850  14 Apr 2023
1     2                China  1412600000  31 Dec 2021
2     3        United States   335080925  17 Jul 2023
3     4            Indonesia   275773800   1 Jul 2022
4     5             Pakistan   229488994   1 Jul 2022
5     6              Nigeria   216746934   1 Jul 2022
6     7               Brazil   216405333  17 Jul 2023
7     8           Bangladesh   168220000   1 Jul 2020
8     9               Russia   147190000   1 Oct 2021
9    10               Mexico   128271248  31 Mar 2022